<p-growl [value]="msgs"></p-growl>
<seasonsGrid [ngClass]="{'panel-open': isOpen, 'panel-split': isSplit}"
             class="panel-open panel-split testParent"></seasonsGrid>
<p-dataTable [value]="contracts" selectionMode="single" resizableColumns="true" columnResizeMode="expand"
             reorderableColumns="true" [rows]="10" [paginator]="true" [pageLinks]="3"
             (onRowDblclick)="onRowDblclick($event)" (onRowSelect)="onRowSelect($event)" [ngClass]="{'panel-split': isSplit}" class="panel-split testSplit">
    <header>

        <div layout="row" layout-align="space-between center">
            <div class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2a">
                <i class="fa fa-sitemap hi-icon" (click)="toggleOpen($event)"></i>
                <i class="fa fa-th-large hi-icon" (click)="toggleSplitScreen($event)"></i>
            </div>
            <div>
                <h3>Rights</h3>
            </div>
            <div>

                <p-splitButton label="Edit" icon="fa fa-pencil" (onClick)="editInfo()">
                    <p-splitButtonItem icon="fa fa-pencil" label="Inline Edit"></p-splitButtonItem>
                    <p-splitButtonItem icon="fa fa-external-link" label="Crud Edit"></p-splitButtonItem>
                </p-splitButton>

            </div>
        </div>

    </header>
    <p-column field="numberOfRuns" header="Number of Runs"></p-column>
    <p-column field="runCount" header="Run Count"></p-column>
    <p-column field="adjRunCount" header="Adjusted Run Count"></p-column>
    <p-column field="usageRestrictions" header="Usage Restrictions"></p-column>
    <p-column field="airDateRestriction" header="Air Date Restriction"></p-column>
    <p-column field="restrictionByEpisodeSeason" header="Restriction By Episode Season"></p-column>
    <p-column field="marathonRules" header="Marathon Rules"></p-column>
    <p-column field="windowStartDate" header="Window Start Date"></p-column>
    <footer>There are 1 Rights</footer>
</p-dataTable>
