<p-growl [value]="msgs"></p-growl>

<p-dataTable [value]="seasons" selectionMode="single" resizableColumns="true" columnResizeMode="expand" reorderableColumns="true" [rows]="10" [paginator]="true" [pageLinks]="3" (onRowDblclick)="onRowDblclick($event)" (onRowSelect)="onRowSelect($event)">
    <header>

        <div layout="row" layout-align="space-between center">
            <div class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2a">
                <!--<i class="fa fa-sitemap hi-icon" (click)="toggleOpen($event)"></i>-->
                <i class="fa fa-th-large hi-icon" (click)="toggleSplitScreen($event)"></i>
            </div>
            <div>
                <h3>Seasons</h3>
            </div>
            <div>

                <p-splitButton label="Edit" icon="fa fa-pencil" (onClick)="editInfo()">
                    <p-splitButtonItem icon="fa fa-pencil" label="Inline Edit"></p-splitButtonItem>
                    <p-splitButtonItem icon="fa fa-external-link" label="Crud Edit"></p-splitButtonItem>
                </p-splitButton>

            </div>
        </div>

    </header>
    <p-column field="seasonName" header="Season Name"></p-column>
    <p-column field="showCode" header="Show Code"></p-column>
    <p-column field="productionNumber" header="Production Number"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column field="note" header="Note"></p-column>
    <p-column field="fiscalYear" header="Fiscal Year"></p-column>
    <p-column field="broadcastSeason" header="Broadcast Season"></p-column>
    <p-column field="roughFormat" header="Rough Format"></p-column>
    <p-column field="episodeCount" header="Episode Count"></p-column>
    <p-column field="programCategory" header="Program Category"></p-column>
    <footer>There are 10 Seasons</footer>
</p-dataTable>

