
<p-growl [value]="msgs"></p-growl>

<toggle-button> </toggle-button>

<div class="ContentSideSections Implementation">
    <p-dataTable [value]="episodes" [columns]="cols" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" resizableColumns="true" columnResizeMode="expand" reorderableColumns="true" style="margin-top:30px" [rows]="10" [paginator]="true" [pageLinks]="3">
    <header>Series Episodes</header>
    <footer>There are 8 Episodes</footer>
    </p-dataTable>
</div>