<p-growl [value]="msgs"></p-growl>

<div layout="row" layout-align="end center">
<p-splitButton label="Edit" icon="fa fa-pencil" (onClick)="editInfo()">
    <p-splitButtonItem icon="fa fa-sitemap" label="Show Parent"></p-splitButtonItem>
    <p-splitButtonItem icon="fa fa-th-large" label="Split Screen"></p-splitButtonItem>
</p-splitButton>
</div>
<p-dataTable [value]="episodes" selectionMode="single" resizableColumns="true" columnResizeMode="expand" reorderableColumns="true" style="margin-top:30px" [rows]="10" [paginator]="true" [pageLinks]="3" (onRowDblclick)="onRowDblclick($event)" (onRowSelect)="onRowSelect($event)">
    <header>Episodes</header>
    <p-column field="episodeTitle" header="Episode Title"></p-column>
    <p-column field="code" header="Code"></p-column>
    <p-column field="linkCode" header="Link Code"></p-column>
    <p-column field="episodeNumber" header="Episode Number"></p-column>
    <p-column field="seriesEpisodeNumber" header="Series Episode Number"></p-column>
    <p-column field="days" header="Days"></p-column>
    <p-column field="runTimeDuration" header="Run Time Duration"></p-column>
    <p-column field="origAirDate" header="Original Air Date"></p-column>
    <footer>There are 8 Episodes</footer>
</p-dataTable>