body {
    overflow-y: scroll;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #aaa;}
.breadcrumb {
    margin-bottom: 0;
}

.label-primary {
    background-color: rgba(23, 128, 49, 0.82);
}

.ui-widget {
    font-family: 'Open Sans', sans-serif;
}

.ui-multiselect-label-container label {
    position: relative;
    top: 2px;
    left: 4px;
    color: #ccc;
}

.ui-multiselect-header {
    position: relative;
}

.ui-multiselect-header .ui-multiselect-close.ui-corner-all {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ui-multiselect-trigger .fa-fw.fa-caret-down {
    top: 4px;
    left: 2px;
    position: relative;
}

.ui-menu .ui-menuitem-link {
    white-space: nowrap;
}

.layout-column.flex-initial, .quick-nav {
    background: #fff;
}

#toggle_isi .fa.fa-cogs {
    color: #fff;
    font-size: 28px;
}

.icon-left.ui-button {
    padding-left: 32px;
}

.ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    bottom: 0;
}

.ui-button {
    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 1px #6b95a6;
    border-radius: 4px;
    color: #fff;
    background-color: #96b5c2;
}
.ui-menuitem-link:hover{ color: #00a6dd;}
.ui-datatable tbody td{ border-color:#ccc; }
.testParent {
    display: none;
}

.testParent.panel-open {
    display: block;
}

.parent {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
}

.child {
    border: 1px solid black;
    background-color: #ccc;
    padding: 10px;
}

.green {
    color: #00AA00;
}

.red {
    color: #aa0005;
}

.blue {
    color: #0c75aa;
}

.highlight {
    background-color: #0ac2d2;
}

/* Toolbar area */
.secondary {
    opacity: .75;
}

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

p-multiselect {
    width: 100%;
}

.transition-setting {
    height: 350px;
    width: 650px;
    overflow: hidden;
    /* background: blanchedalmond; */
    position: absolute;
    top: 100px;
    right: 100px;
}

th.ui-state-active .ui-column-title {
    color: #fff;
}

th .ui-column-title {
    color: #aaa;
    font-size: 14px;
}

sidenav .ui-multiselect-label, .ui-multiselect-label:hover {
    border: none;
    background: transparent;
}

sidenav .ui-multiselect-trigger.ui-state-default.ui-corner-right {
    position: absolute;
    top: 11px;
    height: 25px;
    width: 25px;
    right: 0;
    border-top: none;
    border-bottom: none;
}

sidenav span.fa-fw.fa-caret-down {
    position: relative;
    top: 6px;
}

sidenav .ui-dropdown-trigger.ui-state-default.ui-corner-right {
    position: absolute;
    height: 28px;
    width: 25px;
    right: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
sidenav .ui-multiselect-filter-container .fa.fa-fw.fa-search{ position: relative; left: -35px;}
sidenav .ui-widget-header .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default{ position: absolute;    right:125px;
    top:5px;}

sidenav .ui-chkbox-icon.ui-c.fa.fa-fw.fa-check{color: #3e9655;}
sidenav .ui-multiselect-item.ui-corner-all.ui-menuitem.ui-widget.ui-state-highlight{ background: rgba(62, 150, 85, 0.16);
    border:none; color: #3e9655; border-radius: 0;}
.ui-megamenu-panel.ui-widget-content .ui-menuitem a {
    color: #ccc;
}
.ui-megamenu-panel.ui-widget-content .ui-menuitem a:hover {
    color: #75a1b3;
}

.ui-menu-list .ui-widget-content a {
    color: #fff;
}

.ui-megamenu {
    background: #97b5c2;
    color: #fff;
}

topheader i {
    color: #fff;
    cursor: pointer;
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

.tree-nav li, .tree-nav span {
    font-weight: normal;
    color: #428bca;
}

.tree-nav li.active-route, .active-route span, .active-route {
    font-weight: 800;
}

/* Primary content area */
#episode-info, #addEpisodeInfo {
    padding: 20px;
}

.md-whiteframe-4dp, .md-whiteframe-z2 {
    display: table;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    margin: 0;
    padding: 10px;
}

.sep {
    min-height: 386px;
    -moz-box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
    -webkit-box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
    box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
}

.sep2 {
    min-height: 550px;
    border: 10px solid rgba(167, 163, 126, 0.2);
    margin-top: 8px;
    -moz-box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
    -webkit-box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
    box-shadow: inset 0 0 10px rgba(167, 163, 126, 0.6);
}

td {
    color: #a7a37e;
}

md-data-table-pagination, thead {
    background: #e3e3e3;
}

.md-inline-form {
    margin-top: 25px;
}

md-card {
    margin: 0;
}

.content {

}

.ui-button-icon-left {
    left: 5px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 3px 8px 3px 38px;
}

.content .md-button.contact {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
}

.content md-icon.avatar {
    margin-top: 10px;
}

.content .md-button.contact > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

.content .md-button.contact:active > md-icon {
    background-color: #c9c9c9;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

.content img {
    display: block;
    height: auto;
    max-width: 500px;
}

/* Utils */

.content-wrapper {
    position: relative;
}

.crumb {
    color: rgb(29, 104, 138);
    padding: 0 5px 0 5px;
    text-decoration: underline;
}

/* Typography support coming in 0.8.0 */
md-icon.md-default-theme, .tools-node md-icon {
    color: #74A0B3;
    position: relative;
    top: -3px;
}

md-sidenav md-icon svg {
    pointer-events: none;
    fill: #eee;
}

.search {
    padding: 25px;
}

#psp_controls md-icon svg {
    fill: #fff;
    color: #fff;
}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
    background-color: rgb(29, 104, 138);
    color: rgb(29, 104, 138);
}

md-icon svg, md-icon {
    pointer-events: none;

}

.dataTables_filter input {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
    top: -10px
}

.dataTables_filter {
    color: #888 !important;
    position: relative;
    top: 5px
}

.dataTables_length {
    position: relative;
    top: 5px;
    color: #888 !important;
}

.dataTables_length select {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
    top: -10px;
}

.col-sm-2.form-control-label {
    text-align: right;
}

.tools-node button {
    margin: 0 8px;
}

.md-button {
}

md-toolbar {
    min-height: initial;
}

md-toolbar h1 {
    padding: 15px;
    margin: 5px;
    width: 100%;
    font-weight: 600;
}

.avatar {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.quick-nav md-icon svg {
    fill: #fff;
    color: #fff;
}

.quick-nav .md-button {
    color: #fff;
}

.quick-nav {
    margin: 0;
    padding: 0;
    position: relative;
    background: #d1d1d1;
}

.quick-nav li {
    display: inline-block;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    padding-left: 5px;
}

.vAccordion--default v-pane-header {
    border-bottom: none;
    width: 55px;
    float: right;
    position: absolute;
    top: -45px;
    right: 0;
    z-index: 999;
}

v-accordion {
    position: relative;
}

.breadcrumb-nav {
    background: #bbb;
    height: 45px;
    padding-left: 8px;
}

.vAccordion--default v-pane-header {
    margin-bottom: 0;
    padding: 0;
}

.vAccordion--default v-pane-content > div {
    padding-bottom: 0;
}

v-pane-header:hover {
    background: #9ad3de;
}

.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
    color: #fff;
}

md-toolbar.secondary {
    background: #bbb !important;
    color: #555;
    font-size: 14px;
    position: relative;
}

md-toolbar.secondary h1 {
    padding: 8px 8px 5px
}

md-toolbar.md-default-theme.header:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background: #74A0B3;
}

md-card {
    box-shadow: none;
}

md-toolbar.md-default-theme.accent:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) .md-button.accent {
    color: #555;
}

md-content {
    background: #f2f2f2;
}

md-sidenav {
    background: #e3e3e3;
    z-index: 999;
}

.vAccordion--default v-pane-header {
    border-bottom: none;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    display: none;
}

v-pane-content div {
    color: #74A0B3;
}

.slide-out v-pane {
    background: #89bdd3;
    border-bottom: solid 1px #74A0B3;
    color: #fff;
}

.slide-out v-pane-header {
    padding: 8px;
}

.slide-out v-pane-content div {
    background: #fff;
    padding: 8px;
}

md-sidenav.large-slideout {
    width: 604px;
    min-width: 400px;
}

.md-fab {
    color: #fff;
}

.router {
    display: none;
    height: 45px;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
    color: blue;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: green;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

a:focus, a, a:visited {
    outline: 0;
}

.router-link-active {
    display: block;
    height: 25px;
    width: 100%;
}

.rounded-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.ui-datepicker {
    z-index: 99 !important;
}

.hasDatepicker {
    height: 34px;
    width: 100%;
}

.ui-state-active {
    border-radius: 0;
    border: solid 1px rgba(11, 62, 111, 0.32);
}

h5 {
    font-weight: bold;
}
.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active { background: #fff;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #75a1b3;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #75a1b3;
}

.ui-paginator {
    background: rgba(117, 161, 179, 0.31);
}

.ui-panelmenu-header, .ui-panelmenu-header a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-panelmenu-header {
    border-bottom: 1px solid rgba(11, 62, 111, 0.32);
}

.ui-panelmenu-header {
    border-top: 1px solid rgba(23, 146, 255, 0);
}

.checkbox-node input {
    position: relative;
    top: 1px;
}

.input-group-addon:first-child {
    min-width: 93px;
}

.rounded-list a:hover {
    background: #eee;
}

tr:nth-child(even) {
    background-color: rgba(212, 226, 231, 0.33);
}

.ui-panelmenu-content .btn.btn-default {
    margin-top: 5px;
}

.ui-panelmenu-content .dropdown-toggle.btn.btn-default {
    margin-top: 0;
}

.rounded-list a:hover:before {
    transform: rotate(360deg);
}

.calendar-node {
    position: relative;
}

.fa.fa-calendar {
    position: absolute;
    top: 8px;
    right: 8px;
}

.rounded-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.mc-controls {
    list-style: none;
}

.season-tabs {
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    position: relative;
    top: 3px;
    margin-right: 4px;
}

/*slide bottom drawer*/
/*SUPER SIMPLE COLOR VARIABLES USED IN THE CSS BELOW*/
.toggle-vis {
}

.container {
    display: block;
    margin: auto;
    position: relative;
}

/*Nesting Example this will create styles .nav_bar and .nav_bar .container #toggle_nav WHITESPACE ADDED TO SHOW NESTING*/
.nav_bar {
    height: 50px;
    width: 100%;
    background-color: #6493A3;
    margin-top: -50px;
}

.nav_bar .container #toggle_nav {
    top: 5px;
    left: 5px;
}

/*Nesting Example: This is a traditional nav css scheme. This nesting creates nav, nav ul, nav ul, nav ul li and nav ul li:last-child WHITESPACE ADDED TO SHOW NESTING*/

.container header {
    width: 100%;
    height: 225px;
    background-color: #105191;
    display: inline-block;
    margin-bottom: 0;
    float: left;
}

.container main {
    width: 100%;
    box-sizing: border-box;
    background-color: #F7F7EB;
    display: inline-block;
    padding: 20px 50px 50px 275px;
}

.container footer {
    box-sizing: border-box;
    width: 100%;
    float: left;
    height: 200px;
    padding: 50px;
    display: inline-block;
    background-color: #2A7BAA;
}

.tree-nav {
    border-right: solid 10px #ddd;
}

.input-group-btn {
    font-size: inherit;
}

.main-content {
    padding: 10px 20px 20px 20px;
}

.main-content button .fa {
    color: #fff;
}

.main-content .fa {
    color: #517280;
    font-size: 16px;
}

.ui-dropdown {
    width: 100%;
}

p-datatable td {
    font-size: 12px;
}

p-datatable {
    border-radius: 8px;
    border: solid 4px #f6f6f6;
    display: block;
}

header, footer, th {
    color: rgba(0, 0, 0, 0.41);
}

.ui-datatable-resizable {
    padding: 1px;
    overflow: auto;
    border-radius: 6px;
    background: #fff;
}

header .ui-menu {
    width: 160px;
}

header .ui-state-default, header .ui-widget-content .ui-state-default, header .ui-widget-header .ui-state-default {
    border: solid 1px #6b95a6 !important;
    background: rgba(117, 161, 179, 0.72) !important;
    font-weight: normal;
    color: #f6f6f6 !important;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-caption, .ui-datatable .ui-datatable-footer {
    text-align: initial;
}

/*PSP nesting creates styles #psp, #psp header, #psp header #psp_controls, #psp header #psp_controls #toggle_isi WHITESPACE ADDED TO SHOW NESTING*/
#psp {
    height: 100%;
    position: fixed;
    top: 95%;
    left: 0;
    background-color: #999;
    z-index: 99;
    width: 100%;
}

.ui-paginator-bottom {
    min-height: 35px;
    display: block;
}

#psp.designer-open {
    top: 49%;
}

#psp header {
    width: 100%;
    height: 58px;
    background-color: #6493A3;
}

#psp header {
    padding: 8px;
}

.fa.fa-cogs {
    cursor: pointer;
}

.color-picker {
    background: rgb(18, 123, 220);
    border-radius: 4px;
    width: 80px;
    /* float: right; */
    border: none;
    padding: 5px;
    border: 3px solid #fff;
}

#psp main {
    height: 100%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    display: block;
    background-color: #F7F7EB;
}

tbody tr.selected td, table.dataTable.display tbody tr.selected > .sorting_1 {
    background: #74A0B3;
    color: #fff;
}

.label.label-primary {
    color: #fff;
    margin-left: 5px;
}

.search-results li {
    list-style: none;
}

.tree {
    display: block;
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    width: 100%;
}

.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree li {
    margin: .1rem 0;
    padding: 0.1rem 1rem;
    /*background: #efefef;*/
}

.tree li ul li {
    /*background: rgba(0, 0, 0, 0.1);*/
}

.tree li li li {
    margin: .1rem 0;
    padding: 0.1rem 1.3rem;
}

span.collapse {
    display: inline;
}

md-pagination-wrapper { /*width: 650px!important;*/
}

md-tab-item {
    max-width: 450px !important;
}

.fa.pull-right {
    padding-right: 18px;
    position: relative;;
    top: -3px;
}

outlet table {
    min-width: 1600px;
}

table th {
    white-space: nowrap;
}

/*.dataTables_scroll, .dataTables_scrollHeadInner, .display.dataTable{ width: 100%!important; }*/

.crumb-holder {
    margin: 0;
    padding: 0;
}

.crumb-holder li {
    display: inline-block;
}

.grid-layout {
    width: 50%;
    float: left;
}

.gen-info-node {
    padding-bottom: 100px;
    display: flex;
}

.toggle-vis {
    cursor: pointer;
}

.ui-widget .ui-widget a {
}

.ui-state-highlight td {
    color: #fff;
}

.buttons-excel span, .buttons-pdf span, .buttons-copy span {
    display: none;
}

.buttons-excel:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f1c3";
    padding: 0 10px 10px 10px;
    cursor: pointer;
}

.parent-grid {
    display: none;
}
table{ min-height: 300px;}
.panel-open.parent-grid {
    display: block;
}
.panel-split{
    -webkit-flex: 1 2 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    float: left;
    box-sizing: border-box;}

.buttons-pdf:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f1c1";
    padding: 0 10px 10px 10px;
    cursor: pointer;
}

.label.label-primary {
    line-height: 2;
    font-size: 100%;
}

.buttons-copy:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f0ea";
    padding: 0 10px 10px 10px;
    cursor: pointer;
}

.ui-panelmenu .ui-panelmenu-header .fa.fa-search {
    right: 0;
    left: auto;
    color: #428bca;
    margin-top: -7px;
}

.dt-buttons {
    text-align: right;
}

.ui-menubar {
    display: inline-block;
    float: right;
}

.sep2 h5 {
    padding: 15px 15px 0 15px;
    margin: 0;
}

.ui-menubar .ui-menuitem-link {
    padding: 0;
}

.ui-menu {
    width: auto;
    padding: 8px;
}

.ui-menu .ui-menuitem-link {
    line-height: 22px;
}

.ui-state-active .ui-panelmenu-icon.fa {
    color: #fff;
}

.ui-widget-content {
    border: solid 1px #6b95a6;
}

.ui-widget-content a.ui-submenu-link {
    color: #fff;
}

.ui-multiselect-item.ui-multiselect-item.ui-corner-all.ui-menuitem.ui-widget {
    padding: 6px 6px 0 6px;
}

.ui-multiselect-item.ui-multiselect-item.ui-corner-all.ui-menuitem.ui-widget label {
    position: relative;
    top: -5px;
}

.input-group {
    width: 100%;
}

.ui-state-active a span {
    color: #fff;
}

.ui-state-active {
    background-color: #75a1b3;
}

.ui-panelmenu .ui-panelmenu-content {
    padding: 15px;
    background-color: rgb(241, 246, 247);
    min-height: 350px;
    border-top: solid 1px #fff;
    border-bottom: solid 2px #75a1b3;
}

.search-row {
    padding: 10px 0;
    position: relative;
}

.has-feedback label.sr-only ~ .form-control-feedback {
    top: 10px;
}

.btn-default {
    background-color: #eeeeee;
    color: #428bca;
}

.dropdown-menu.ui-menu-list.ui-helper-reset {
    position: absolute;
    font-size: 14px;
}

.form-control-feedback {
    top: 10px;
    z-index: 99;
}

@media (max-width: 620px) {
    /*CSS ANIMATE THE TOP NAV BAR IN*/
    .nav_bar {
        display: block;
        animation: nav_in .8s forwards;
        -webkit-animation: nav_in .8s forwards;
        -moz-animation: nav_in .8s forwards;
    }

    @-webkit-keyframes nav_in {
        0% {
            margin-top: -50px;
        }
        100% {
            margin-top: 0px;
        }
    }
    @-moz-keyframes nav_in {
        0% {
            margin-top: -50px;
        }
        100% {
            margin-top: 0px;
        }
    }
    @-o-keyframes nav_in {
        0% {
            margin-top: -50px;
        }
        100% {
            margin-top: 0px;
        }
    }
    @keyframes nav_in {
        0% {
            margin-top: -50px;
        }
        100% {
            margin-top: 0px;
        }
    }
    .container {
        width: 100%;
    }

    .container nav {
        top: 0px;
        left: -240px;
    }

    .container main {
        padding: 20px 50px 50px 50px;
    }

    #psp main {
        width: 100%;
        padding: 10px 50px;
    }
}
